@import "../../../style/variables";

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 34rem;
}

.timeContainer {
  padding: 1rem;
  line-height: 1.05;
  font-size: 1.8rem;

  & .timeBold {
    font-size: 3.2rem;
    font-weight: 700;
  }
}

.timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -2rem;

  text-align: center;
  font-size: 1.4rem;

  padding: 1rem;
}

.lineElement {
  background-color: $colorPrimaryOrange;
  height: 2px;
  position: relative;

  margin-top: 0.5rem;

  &::before {
    position: absolute;
    content: "";
    height: 0.8rem;
    width: 0.8rem;
    border: 2px solid $colorPrimaryOrange;
    border-radius: 0.8rem;
    left: -1.2rem;
    top: -0.5rem;
  }
  &::after {
    position: absolute;
    content: "";
    height: 0.8rem;
    width: 0.8rem;
    border: 2px solid $colorPrimaryOrange;
    border-radius: 0.8rem;
    right: -1.2rem;
    top: -0.5rem;
  }
}
